
    <div class="p-5 m-3" >
        <div class="row">

            <div class="col-3">

                <img class="rounded-circle" src="assets/img/2.jpg" alt="...">
            </div>

            <div class="col-9">
            
            <div class="d-flex" >
                <h2>The Second Heading</h2>
                <h2 class="text-secondary ml-1">Is Pretty Cool Too</h2>
            </div>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at facilisis leo. Lorem ipsum dolor sit
                    amet,
                    consectetur adipiscing elit. Aliquam vehicula porta dignissim. Nulla sollicitudin elementum sem, non
                    ornare
                    dui luctus id. Nulla iaculis sapien a fermentum rhoncus. </p>
           
            </div>
        </div>
        
    
        

     
    </div>


    